:root {

    /*Primary*/

    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);

    /*Neutral*/
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}
*{
    padding: 0;
    margin: 0;
}


body{
    font-family: 'Overpass', sans-serif;
    background-color: #000;
    padding: 0 250px;
}
main{
    display: flex;
    justify-content: space-between;
    background-color: var(--Off-white);
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px 90px;
}

header{
    padding: 2.5rem 5.5rem 0 5.5rem;
    background-color: var(--Off-white);
    display: flex;
    justify-content: space-between;
}
.menu-navigation {
    display: flex;
}
.menu-navigation {
    list-style: none;
}

.item-menu {
    margin-left: 1.5rem ;
    color: var(--Grayish-blue);
}
.item-menu :hover {
    color: var(--Soft-orange);
    cursor: pointer;
}

.content-primary{
   
}
.img-web3{
    max-width: 700px;
}
.content-secundary{
    background-color: var(--Very-dark-blue);
    color: var(--Off-white);
    padding: 20px 20px;
    margin-left: 1rem;
    line-height: 2rem;
}
.line{
    height: 1.5px;
    margin: 20px 0;
    background-color: var(--Dark-grayish-blue) ;
}
.text-content h2 {
    color: var(--Soft-orange);
    
}
.text-content h3 a{
    text-decoration: none;
    color: var(--Off-white);
}

.text-content p{
    color: var(--Grayish-blue);
}
.text-content h3 :hover {
    color: var(--Soft-orange);
}

section{

    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.title-section{
    font-size: 25pt;
    font-weight: 700;
    margin-right: 8rem;
}
section p {
    color: var(--Grayish-blue);
}

.btn-readmore{
    margin-top: 2rem;
    padding: .5rem 1.5rem;
    border: none;
    background-color: var(--Soft-red);
    color: var(--Off-white);
}
aside {
    background-color: var(--Off-white);
}
aside ol {
    padding-top: 1rem;
    display: flex;
}
aside ol li{
    display: flex;
    background-color: var(--Off-white);
    padding: 0 10px;
    padding: 10px 0px;
}
.item-aside {
    text-decoration: none;
    color: #000;
}
.title-item-aside :hover {
    color: var(--Soft-orange);
}
.img-list{
    height: 100px;
    margin: 0 10px;
}
span{
    color: var(--Grayish-blue);
    font-size: 15pt;
    text-align: center;
    margin-top: 10px;
}




@media (max-width: 1200px)
{
    body {
        margin-top: 0;
    }
    header{
        padding: 0;
    }
    .navigation{
        position: absolute;
        margin-left: 5rem;
        
        background-color: var(--Off-white);
        opacity: 0.9;
        height: 100%;
    }
    .menu-navigation{
        display: block;
        padding-top: 3rem ;
        line-height: 2rem;
        
        
        
    }
    .item-menu {
        color: #000;
        margin: 0;
        padding: 0 9rem 0 2rem;
    }
    .menu-navigation :hover {
        background-color: var(--Dark-grayish-blue);
    }
    main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
    }
    .img-web3{
        max-width: 100%;
    }
    section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
    }
    .content-secundary{
        width: 100%;
        background-color: var(--Very-dark-blue);
        color: var(--Off-white);
        margin: 0;
        line-height: 2rem;
    }
    .text-content h2 {
        color: var(--Soft-orange);
        
    }
    .text-content h3 a{
        text-decoration: none;
        color: var(--Off-white);
    }
    
    .text-content p{
        color: var(--Grayish-blue);
    }
    .text-content h3 :hover {
        color: var(--Soft-orange);
    }
    aside ol {
        flex-wrap: wrap;
    }
}

footer{
    padding: 20px;
    background-color: var(--Off-white);

}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }