:root {

    /*Primary*/

    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);

    /*Neutral*/
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}
*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Overpass', sans-serif;
    background-color: var(--Very-dark-blue);
    padding: 50px 100px;
}

header{
    font-family: 'Inter', sans-serif;
    background-color: var(--Off-white);
    padding: 4rem 10rem 3rem 10rem;
    display: flex;
    justify-content: space-between;
    
}
header h1 {
    padding-left: 1.5rem;
}

.navigation ol{
    display: flex;
}

.item-menu{
    list-style: none;
    margin-right: 2rem;
    color: var(--Grayish-blue);
}

.item-menu :hover {
    cursor: pointer;
    color: var(--Soft-orange);
}

.button-menu{
    display: none;
}
.menu-close{
    display: none;
}

main{
    padding: 0 11rem;
    background-color: var(--Off-white);
    max-width: 100%;
    display: flex;
}

.content-primary{
    margin: 0 auto;
    padding: 0 10px ;
}

.img-web3{
    width: 100%;
}

.btn-readmore{
    padding: .5rem 1.5rem;
    margin: 2rem 0 0;
    background-color: var(--Soft-red);
    border: none;
    color: var(--Off-white);
}
.box-btn-readmore :hover {
    cursor: pointer;
    background-color: var(--Very-dark-blue);
}

.content-secundary {
    display: grid;
    background-color: var(--Very-dark-blue);
    color: var(--Off-white);
    padding: 2rem 1rem;
    margin: 0 10px;
    line-height: 1.5rem;
}

.text-content h2{
    color: var(--Soft-orange);
    margin-bottom: 3rem;
    font-size: 25pt;
    font-weight: 800;
}
.text-content h3 :hover{
    color: var(--Soft-orange);
}
.text-content h3 a{
    text-decoration: none;
    color: var(--Off-white);
}
.text-content p{
    color: var(--Dark-grayish-blue);
    font-size: 15px;
}
.content-line{
    background-color: var(--Dark-grayish-blue);
    height: 1px;
    margin: 2rem 0;
}

section{
    display: flex;
    padding: 10px 30px 30px 0;
}
section h1{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    margin-right: 20px;
    font-size: 25pt;
}
.section-information{
    margin-left: 50px;
    color: var(--Dark-grayish-blue);
}
.content-secundary{
    width: 100% ;
}
.information span {
    font-size: 15pt;
    font-weight: 700;
    color: var(--Grayish-blue);
}
.information h4 a{
    text-decoration: none;
    color: #000;
}
.information h4 :hover {
    color: var(--Soft-orange);
}
.information p{
    font-size: 10pt;
    color: var(--Dark-grayish-blue);
}
.img-list{
    width: 80px;
}

aside{
    padding: 1rem 11rem;
    background-color: var(--Off-white);

}
aside li{
    display: flex;
    
}
aside ol{
    display: flex;
    justify-content: space-between;
}
.information{
     padding: 1rem 0 1rem 1rem;
}




@media (max-width: 1200px){
    body{
        padding: 0;
    }
    main{
        flex-wrap: wrap;
        padding: 0;
    }
    
    header{
        padding: 1rem;
    }
    header h1{
        padding: 0;
    }
    .navigation {
        display: none;
    }
    .menu-close{
        display: block;
        text-align: end;
        padding: 0 3rem;
        font-size: 30pt;
    }
    .button-menu-close{
        display: none;
    }
    
    .box-navigation {
        margin-top: 2rem;
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: end;
        height: 100%;
    }
    .expand-navigation{
        width: 70%;
        background-color: var(--Off-white);
        opacity: .9;
        
    }

    .button-menu{
        height: 10px;
        display: block;
        padding-top: 10px;
    }
    .line-button{
        height: 3px;
        width: 3rem;
        background-color: #000;
        margin-top: 5px;
    }

    .menu-navigation{
        line-height: 3rem;
    }

    .item-menu{
        padding-left: 3rem;
    }

    .menu-navigation :hover{
        background-color: var(--Dark-grayish-blue);
        padding-left: 2rem;
        font-size: 15pt;
        cursor: pointer;
        
    }

    .section-information{
        padding: 10px 0;
        margin: 0;
    }
    
    
    section{
        display: block;
    }
    aside{
        padding: 1rem .7rem;
        
    }
    aside ol{
        display: block;
    }
}
    



footer{
    padding: 20px;
    background-color: var(--Off-white);

}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }